.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-border-color);
  padding-bottom: 10px;
  cursor: pointer;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatarcontainer {
  padding: 20px;
}

.post__avatar {
  height: 50px !important;
  width: 50px !important;
}

.post__headerText {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__headerSpecial {
  font-weight: 400;
  font-size: 15px;
  color: #8899a6;
}

.post__badge {
  font-size: 14px !important;
  color: white;
  margin-left: -3px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.post__body > img {
  object-fit: contain;
  border-radius: 20px;
  height: 200px;
}

@media (min-width: 768px) {
  .post__body > img {
    height: 350px;
  }
}

.post__footer {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin-left: -10px;
  margin-top: 10px;
}

.post__footer > .MuiSvgIcon-root {
  cursor: pointer;
}

.post__timestamp {
  font-weight: 400;
  font-size: 12px;
  color: #8899a6;
}

.post__btn {
  color: black;
  background-color: #d1d5db;
  height: 50px;
  padding: 5px;
  margin: 10px;
  width: 80%;
  align-self: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.post__likeButton {
  display: flex;
  align-items: center;
  color: #fff !important;
}

.post__likeButton:hover {
  color: #e0245e !important;
}

.post__likeButton p {
  font-size: medium;
  margin-left: 4px;
  font-weight: 400;
}

.post__likeButton > p:hover {
  color: #e0245e;
}

.post__likeIcon:hover {
  color: #e0245e !important;
}

.post__likeText {
  color: #e0245e;
}

.post__shareButton {
  color: white !important;
}

.post__shareButton:hover {
  color: #1d86c7 !important;
}
