body {
  background-color: #15202b;
  color: #f9fafa;
  --twitter-orange-color: #f45d22;
  --twitter-dim-background: #15202b;
  --twitter-border-color: #38444d;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
